@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
    margin:0 auto;
    color: #fff;
}
header * { 
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    padding: 1em 0;
}

header{
    min-height: 100vh;
    padding: 5vw 0 5vw;
    width: 100vw;
}

header p {
    font-size: 50px;
    margin-top:20px;
}

body{
    background-image: url('../IMG/paralax.jpg');
}

.form{
    width:600px;
    height: auto;
    background-color:none;
    position: right;
}

.formulario{
    width: auto;
    height: auto;
}

input{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo{
    font-family: 'Pacifico', cursive;
    text-align: center;
    width: auto;
    height: 275px;
    color:white;
    margin-top:25px;
}

.titulo h1{
    font-family: 'Pacifico', cursive;
    color:white;
    font-size: 80px;
}

#NPE{
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 600px;
}

#submit{
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
    float: right;
}

.exemplo{
    font-size: 20px;
}




 





